# =======================================
# Dependencies
# =======================================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =======================================
# Build / Production
# =======================================
.next/
out/
build/
dist/

# =======================================
# Testing
# =======================================
coverage/

# =======================================
# Debug / Logs
# =======================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =======================================
# Environment Variables
# =======================================
.env
.env.*
!.env.example   # allow example env files

# =======================================
# OS / Misc
# =======================================
.DS_Store
*.pem

# =======================================
# Vercel
# =======================================
.vercel

# =======================================
# TypeScript
# =======================================
*.tsbuildinfo
next-env.d.ts

# =======================================
# Prisma
# =======================================
backend/prisma/*.db-journal
backend/prisma/dev.db
