@import "tailwindcss";

:root {
  --bg: #0f0f10;
  --fg: #eaeaea;
  --muted: #a7a7a7;
  --accent: #e8b923;
}
html,
body {
  background: var(--bg);
  color: var(--fg);
  
}
.container {
  @apply max-w-6xl mx-auto px-5;
}
